* {
	box-sizing: border-box;
	margin: 0;

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 2px solid var(--surface1);
		outline-offset: 6px;
	}
}

a {
	--tex-color: var(--color-shades-dark);
	border-block-end: 3px solid var(--border-color, transparent);
	padding: 0.1rem;
	// color: hsl(166, 100%, 70%);
	text-decoration: none;
}

a:where(:hover, :focus) {
	--border-color: var(--tex-color);
}

html {
	block-size: 100%;
	background-color: var(--surface4);
	color: var(--text1);
	// font-size: 62.5%;

	block-size: 100%;
	color-scheme: light;

	&[color-scheme='dark'] {
		color-scheme: dark;

		@supports not (color-scheme: dark) {
			background: #111;
		}
	}
}

body {
	min-block-size: 100%;
	font-family: system-ui, sans-serif;
}

a[aria-current='page'] {
	--border-color: var(--surface1);
	--text-color: var(--text2);
}

// MEDIA QUERIES
@media (min-width: 48em) {
	nav {
		--nav-button-display: none;
		--nav-position: static;
		width: 100%;
		background: var(--surface2);
	}

	ul {
		--nav-list-visibility: visible;
		--nav-list-layout: row;
		--nav-list-position: static;
		--nav-list-padding: 0;
		--nav-list-height: auto;
		--nav-list-width: inherit;
		--nav-list-shadow: none;
	}
}

@media (prefers-reduced-motion: no-preference) {
	ul {
		transition: transform 0.8s var(--transition-animation),
			visibility 0.6s linear;
	}
}

[aria-expanded='false'] + ul {
	// opacity: 0;
	transform: var(--nav-list-transform, translateY(-100%));
	visibility: var(--nav-list-visibility, hidden);
}
