html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	display: grid;
	place-content: center;
	gap: 1rem;

	text-align: center;
	line-height: 1.42;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
}

:root {
	--angle: 45deg;
	--opacity: 0.5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.rainbow {
	width: 400px;
	height: 300px;
	border-radius: 10px;
	padding: 2rem;
	margin: auto;

	display: grid;
	place-content: center;
	text-align: center;

	font-size: 1.5em;

	--border-size: 0.3rem;
	border: var(--border-size) solid transparent;

	// paint an image in the border
	border-image: conic-gradient(
			from var(--angle),
			#d43e33 0deg 90deg,
			#fbb300 90deg 180deg,
			#377af5 180deg 270deg,
			#399953 270deg 360deg
		)
		1 stretch;
	background: rgb(255 255 255 / var(--opacity));
}

.warning {
	margin: 2em;
	padding: 1em;
	border-radius: 1px solid #ccc;

	p {
		margin: 0;
		padding: 0;
		text-align: center;
	}
}

@supports (background: paint(houdini)) {
	@property --opacity {
		syntax: '<number>';
		initial-value: 0.5;
		inherits: false;
	}

	@property --angle {
		syntax: '<angle>';
		initial-value: 0deg;
		inherits: false;
	}

	@keyframes opacityChange {
		to {
			--opacity: 1;
		}
	}

	@keyframes angleChange {
		to {
			--angle: 360deg;
		}
	}

	.rainbow {
		animation: angleChange 4s linear infinite,
			opacityChange 3s infinite alternate;
	}
}
