* {
	box-sizing: border-box;
	margin: 0;
}

html {
	block-size: 100%;
	color-scheme: light;
	transition: background-color 0.5s var(--ease-3);

	&[data-theme='dark'] {
		color-scheme: dark;
		transition: background-color 0.5s var(--ease-3);

		@supports not (color-scheme: dark) {
			background: #111;
		}
	}
}

body {
	min-block-size: 100%;
	font-family: system-ui, sans-serif;

	display: grid;
	place-content: center;
	transition: background-color 0.5s var(--ease-3);
}
